#file-upload {
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload-box {
  border: 2px dashed #714bfaaa;
  height: 60%;
  width: 100%;
  color: #714bfaaa;
}

button {
  color: #fff;
  background-color: #714bfa;
  font-variant: small-caps;
  font-size: 11pt;
  letter-spacing: 1pt;
  font-weight: bold;
  margin: 25px;
  width: 200px;
  height: 50px;
  border-radius: 50px;

  border: 1px solid rgba(46, 11, 242, 0.255);
}
