#file-upload {
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload-box {
  border: 2px dashed #714bfa;
  height: 60%;
  width: 100%;
  color: #714bfa;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#upload-box.dragging {
  border: 2px dashed #714bfaaa;
  color: #714bfaaa;
}

#upload-box.has-file {
  border: none;
}

.inputfile {
  visibility: hidden;
  position: absolute;
}
