#param-choices {
  width: 40%;
  padding: 30px;
  text-align: center;
  border-bottom: 2px solid #714bfa;
}

#param-choices form {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 2px solid #714bfa;
  border-bottom: 2px solid #714bfa;
}
